<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cena año nuevo</title>
</head>
<body>
    <link rel="stylesheet" href="/stylesheets/Cena.css" />
        <header>
          <h1 id="titulo">Cena fin de año</h1>
        </header>
      <p>Realizaremos una votación para poder distribuir las funciones del 31 de dicembre.</p>
    <img src="/images/Cena 2023.jpg" height="600" alt="Así deberia quedar">
    
    <figcaption class="asideberiaquedar">Así deberia quedar.</figcaption><br>
    <main>
        
    <div class="form">
        <div class="labels">
            <label for="Nombre">¿Cuál es tu nombre?</label>
            <label for="actividad">¿Con que vas a ayudar en la cena?</label>
            <label for="Picada">¿Que pica vas a llevar?</label>
            <label for="Licor">¿Que licor quieres tomar?</label>
        </div>
        <div class="input" >
    <select id="Nombre">
        <option value="Sandra">Sandra</option>
        <option value="Andres">Andres</option>
        <option value="Antonio">Antonio</option>
        <option value="Margarita">Margarita</option>
        <option value="Xiomara">Xiomara</option>
        <option value="Claudia">Claudia</option>
        <option value="Paula">Paula</option>
        <option value="Daniela">Daniela</option>
        <option value="Jeison">Jeison</option>
        <option value="Adela">Adela</option>
        <option value="Adriana">Jeison</option>
        <option value="Maria Paz">Maria Paz</option>
        <option value="Camila">Camila</option>
        <option value="Camilo">Camilo</option>
     </select>
    <select id="actividad">
        <option value="Picar verduras">Picar verduras</option>
        <option value="Compras">Compras</option>
        <option value="Buscando sillas">Buscando sillas</option>
        <option value="Aseo">Aseo</option>
        <option value="Decoración">Decoración</option>
    </select>
    <select id="Picada" placeholder="Selecciona">
        <option value="Mini Pinchos">Mini Pinchos</option>
        <option value="Bolitas de carne">Bolitas de carne</option>
        <option value="Deep de pimenton">Deep de pimenton</option>
        <option value="Buñuelos">Buñuelos</option>
        <option value="Antipasto">Antipasto</option>
        <option value="Canastas de patacon">Canasta de patacon</option>
        <option value="Bollo con chorizo">Bollo con chorizo</option>
        <option value="Natillas">Natillas</option>
    </select>
    <select id="licor">
        <option value="Cerveza">Cerveza</option>
        <option value="Aguardiente">Aguardiente</option>
        <option value="Whisky">Whisky</option>
        <option value="Churro">Churro</option>
        <option value="Rey de Reyes">Rey de Reyes</option>
        <option value="Agua de trapero">Agua de trapero</option>
        <option value="Agua de panti">Agua de panti</option>
    </select>
        </div>
    </div>
        <!--     
    <span>¿Cuál es tu nombre?</span>
    <input list="Nombre" placeholder="Selecciona">
    <datalist id="Nombre">
        <option value="Sandra"></option>
        <option value="Andres"></option>
        <option value="Antonio"></option>
        <option value="Margarita">Margarita</option>
        <option value="Xiomara">Xiomara</option>
        <option value="Claudia">Claudia</option>
        <option value="Paula">Paula</option>
        <option value="Daniela"></option>
        <option value="Jeison"></option>
        <option value="Adela">Adela</option>
        <option value="Adriana"></option>
        <option value="Maria Paz"></option>
    </datalist><br>
    <span>¿Con que vas a ayudar en la cena?</span>
    <input list="actividad" placeholder="Selecciona">
    <datalist id="actividad">
        <option value="Picar verduras"></option>
        <option value="Compras"></option>
        <option value="Buscando sillas"></option>
        <option value="Aseo"></option>
        <option value="Decoración"></option>
    </datalist><br>
    <label for="hora">
        <span>¿a que hora vas a llegar?</span>
        <input type="time" id="hora" name="hora">
    </label><br>
    <span>¿Que pica vas a llevar?</span>
    <input list="Picada" placeholder="Selecciona">
    <datalist id="Picada">
        <option value="Mini Pinchos"></option>
        <option value="Bolitas de carne"></option>
        <option value="Deep de pimenton"></option>
        <option value="Buñuelos"></option>
        <option value="Antipasto"></option>
        <option value="Canastas de patacon"></option>
        <option value="Bollo con chorizo"></option>
        <option value="Natillas"></option>
    </datalist><br>
    <span>¿Que licor quieres tomar?</span>
    <input list="licor" placeholder="Selecciona">
    <datalist id="licor">
        <option value="Cerveza"></option>
        <option value="Aguardiente"></option>
        <option value="Whisky"></option>
        <option value="Churro"></option>
        <option value="Rey de Reyes"></option>
        <option value="Agua de trapero"></option>
        <option value="Agua de panti"></option>
    </datalist><br> -->
    <p>Cada persona lleva el trago que va ha consumir</p>
    <input type="submit">
</main>
<h2>El objetivo</h2>
<p>Lo que queremos lograr con esta integración es pasar un buen rato, estar todos felices en familia.</p>
<figcaption class="elboogyboogy">El Boogy Boogy</figcaption>
<img src="/images/Poma_02.gif" controls alt=""></img>
<figcaption class="perreointenso">El perreo intenso</figcaption>
<img src="/images/Aziz_02.gif" controls alt=""></img>
<figcaption class="mactallega">Macta llega</figcaption></video>
<video src="/images/Paula.mp4" controls alt="">
</body>
<footer>Cualquier monda, por el culo.</footer>
</html>